.services {
    padding: 3rem 0 0 3rem;
    display: flex;
    height: 30rem;
    margin: 2rem 0 20rem  0;
    /* scroll view */
    max-width: 50%;
  }

  /* left side */
  .awesome {
    display: flex;
    flex-direction: column;
    position: relative;
   
    
  }
  
  .awesome > :nth-child(1) {
    color: #F3F8FF;
    font-size: 2.5rem;
    font-weight: bold;
  }

  .awesome > :nth-child(2) {
    color: rgba(128, 128, 128,0.05);
    background-image: linear-gradient(-225deg, #5271C4 0%, #B19FFF 48%, #ECA1FE 100%);
    background-clip: text;
    background-repeat: no-repeat;
    font-size: 2.5rem;
    font-weight: bold;
  }

  .awesome > :nth-child(3) {
    color: rgb(18, 17, 17);
    font-size: 17px;
    margin-top: 1rem;
    text-transform: uppercase;
    font-size: 2.5rem;

  }

  /* right sided */
  .cards {
    position: relative;
   
  }
  .cards > * {
    position: absolute;
 
  }
  
  
  /* blur */
  .s-blur2 {
    left: 12rem;
    top: 2rem;
    z-index: 1;
  }
  
  .s-blur1 {
    top: -7rem;
    left: 35rem;
    z-index: 1;
  }
  
  @media screen and (max-width: 1000px) {
    .services {
      margin-top: -10rem;
      flex-direction: column;
      max-width: 100%;
      gap: 5rem;
      height: 100%;
      padding: 0 2rem 0 2rem;
    }
    
    .awesome {
      margin:0;
      padding: 0;
    }

    .awesome > :nth-child(1),.awesome > :nth-child(2)
    {
      font-size: 2rem;
      max-width: 100%;
     
    }
    .awesome > :nth-child(3){
      font-size: 1.7rem;
    }
  
    .cards {
      display: flex;
      flex-direction: column;
      gap: 17rem;
    } 
      

    .cards > * {
      position: static;
      margin-bottom: 2rem;
    
    }
  

    .awesome a .download-button{
      margin-top: 1rem;
      margin-left: -5%;
      transform: scale(0.8);
    }
  }



  
  /* TODO:Button */
  .download-button {
    position: relative;
    border-width: 0;
    background-color: transparent;
    color: rgb(16, 16, 16);
    font-size: 18px;
    font-weight: 600;
    border-radius: 4px;
    z-index: 1;
    margin-top: 4.5rem;
    margin-left: 7.5rem;
  }
  
  .download-button .docs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    min-height: 40px;
    padding: 5px 14px;
    border-radius: 5px;
    z-index: 1;
    font-weight: 600;
    background-color: #fdfbfd;
    border: solid 1px #e8e8e82d;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    
  }
  
  .download-button:hover {
    box-shadow: rgba(233, 233, 233, 0.555) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      
  }
  
  .download {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 88%;
    max-height: 50px;
    margin: 0 auto;
    z-index: -7;
    border-radius:4px;
    transform: translateY(0%);
    background-image: linear-gradient(-225deg, #5271C4 0%, #B19FFF 48%, #ECA1FE 100%);
    border: solid 1px #5601e02d;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
  }
  
  .download-button:hover .download {
    transform: translateY(100%);
  }
  
  .download svg polyline,
  .download svg line {
    animation: docs 1s infinite;
  }
  
  @keyframes docs {
    0% {
      transform: translateY(0%);
    }
  
    50% {
      transform: translateY(-15%);
    }
  
    100% {
      transform: translateY(0%);
    }
  }
  