.services {
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 30rem;
    margin-top: 4rem;
    margin-bottom: 20rem;
    /* scroll view */
    padding-top: 3rem;
    max-width: 50%;
  }
  /* left side */
  .awesome {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 6rem;
    
    /* gap: 20px; */
  }
  
  .awesome > :nth-child(1) {
    color: #F3F8FF;
    font-size: 2.5rem;
    font-weight: bold;
  }
  .awesome > :nth-child(2) {
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
  }
  .awesome > :nth-child(3) {
    color: rgb(18, 17, 17);
    font-size: 17px;
    margin-top: 1rem;
  }
  .s-button {
   padding: 0px -5px !important;
    width: 11rem;
    height: 3rem;
    margin-top: 1rem;
  }
  /* right sided */
  .cards {
    position: relative;
   
  }
  .cards > * {
    position: absolute;
 
  }
  
  
  /* blur */
  .s-blur2 {
    left: 12rem;
    top: 2rem;
    z-index: 1;
  }
  
  .s-blur1 {
    top: -7rem;
    left: 35rem;
    z-index: 1;
  }
  
  @media screen and (max-width: 480px) {
    .services {
      margin-top: 0;
      flex-direction: column;
      gap: 5rem;
      height: 66rem;
      padding: 0;
    }
  
    .cards {
      display: flex;
      flex-direction: column;
      gap: 17rem;
    }
    .cards > * {
      position: static;
    }
  }