.contact-form{
    padding: 5rem 3rem 0 5rem;
    display: flex;
    height: 80vh;
    margin-top: 4rem;
      /* scroll */
  
}

.c-right{
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
}

.c-right>form
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    
}

.c-right .user{
    width: 20rem;
    height: 2rem;
    padding: 0.3em;
    outline: none;
    border: 2px solid #867efb;
    border-radius: 8px;
    font-size: 16px;   
}
.c-right span{
    color: rgba(128, 128, 128,0.05);
    background-image: linear-gradient(-225deg, #5271C4 0%, #B19FFF 48%, #ECA1FE 100%);
    background-clip: text;
    margin-top: 2rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    word-spacing: 2px;
}


textarea{
    height: 4rem!important;
}

.s-blur1{
    top: -3rem;
    left: 35rem;
}
.s-blur2{
    top: 7rem;
    left: -1rem;
}

@media screen and (max-width: 1000px) {
    .contact-form{
        padding: 0;
        flex-direction: column;
        gap: 1rem;
        height: 41rem;
    }
    .c-right .user{
        width: 16rem;
    }

    .awesome{
        margin-left: 2rem;
    }
    .c-right span{
        font-size: 1rem;
    }
    .w-left{
        margin-left: 2.5rem;
    }
    .s-blur2{
        top: 7rem;
        left: 4rem;
        transform: scale(0.6);
    }

}   
