.n-wrapper{
    position: relative;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    
}

.nav-left{
    display: flex;
    margin-left: 1.5rem;
    align-items: center;
    justify-content: space-around;
    
}

.nav-left img{
    height: 50px;
    width: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.nav-name{
    font-weight: bold;
    font-size: 1.3rem;
    color: rgb(237, 236, 236);
}

.nav-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}
.nav-list{
    flex:10;
   
}
    

.nav-list>ul{
    display: flex;
    /* list-style: none; bcz we added thgat in react*/
    gap: 3rem;
    margin-right: 4rem; 
    font-weight: bolder;
    color: rgb(250, 246, 246);
    font-weight: 600;

}

.nav-list>ul>li:hover{
    cursor: pointer;
    color: rgba(128, 128, 128,0.05);
    background-image: linear-gradient(-225deg, #5271C4 0%, #B19FFF 48%, #ECA1FE 100%);
    background-clip: text;
    font-weight: 600;
    transition: 0.1s ease;
}

.nav-button{
    flex: 2;
   
}

@media screen and (max-width: 1000px) {
    .nav-list {
        display: none;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .nav-list.active {
        display: flex;
    }

    .nav-list>ul {
        flex-direction: column;
        margin-right: 0;
    }

    .nav-list>ul>li {
        margin-bottom: 1rem;
    }

    .nav-button {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .nav-name{
        font-size: 1.1rem;
    }
    
}

  

/* .nav-list .items li:before{
    position: absolute;
    content: '';
    background: linear-gradient(-225deg, #5271C4 0%, #B19FFF 48%, #ECA1FE 100%);
    height: 3px;
    width: 0;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}
.nav-list .items li:hover:before{
    width: 100%;
   
} */