.n-wrapper{
    height: 10vh;
    display: flex;
    justify-content: space-between;
   
}

.nav-left{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 1;
}

.nav-left img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.nav-name{
    font-weight: bold;
    font-size: 1.3rem;
    color: rgb(237, 236, 236);
}

.nav-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}
.nav-list{
    flex:10;
   
}
    

.nav-list>ul{
    display: flex;
    /* list-style: none; bcz we added thgat in react*/
    gap: 3rem;
    margin-right: 4rem; 
    font-weight: bolder;
    color: rgb(250, 246, 246);
    font-weight: 800;
   
}

.nav-list>ul>li:hover{
    cursor: pointer;
    color: rgba(128, 128, 128,0.05);
    background-image: linear-gradient(-225deg, #5271C4 0%, #B19FFF 48%, #ECA1FE 100%);
    background-clip: text;
    z-index: 2000;
    font-weight: bold;
}

.nav-button{
    flex: 2;
   
}

@media screen and (max-width: 600px) {
    .nav-list {
        display: none;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .nav-list.active {
        display: flex;
    }

    .nav-list>ul {
        flex-direction: column;
        margin-right: 0;
    }

    .nav-list>ul>li {
        margin-bottom: 1rem;
    }

    .nav-button {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
}

  

