.Intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;

  }
  
  /* left side styling */
  .intro-left {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
  }
  .intro-name {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.25rem;
  }
  .intro-name > :nth-child(1) {
    color: rgb(237, 236, 236);
    font-weight: bold;
    font-size: 10rem;
    margin-top: 5%;
  }
  .intro-name > :nth-child(2) {
    color: rgba(128, 128, 128,0.05);
    background-image: linear-gradient(-225deg, #5271C4 0%, #B19FFF 48%, #ECA1FE 100%);
    background-clip: text;
    -webkit-text-stroke-color: rgb(3, 3, 3);
    -webkit-text-stroke-width: 0px;
    background-repeat: no-repeat;
    font-weight: bold;
    font-size: 10rem;
  }
  
 
 
  /* right side styling */
  .intro-right {
    margin: 0;
    flex: 1;
    position: absolute;
    transform: scale(0.9);
    top: -2rem;
  }
  
  /* blur */
  .blur {
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #d6a8f4;
    filter: blur(200px);
    z-index: -9;
    top: -12%;
    left: 56%;
    filter: blur(70px);
  }

  .main-slogan{
    
    color: rgb(237, 236, 236);
    font-family: 'Poppins', sans-serif;
    font-weight: 650;
    font-size: 4rem;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
  }

  .text-content{
    position: relative;
    display: flex;
    justify-content: center;
    left: 5%;
    top:35%;
  }


  .build{
    color: #0f0f0f1d;
    background-image: linear-gradient(-225deg, #5574c9 0%, #B19FFF 48%, #ECA1FE 100%);
    background-clip: text;
    background-repeat: no-repeat;;
  }

  .slogan2{
    position: relative;
    top: 10%;
    color: rgb(237, 236, 236);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.7rem;
  }
  


  
  @media screen and (max-width: 1000px) {
    .Intro {
      flex-direction: column;
      gap: 7rem;
    }
    .intro-name{
      justify-content: left;
    }

    .intro-name > :nth-child(1){
      font-size: 5.2rem;
      margin: 0  0 5% 9%;
      
    }
    .intro-name > :nth-child(2){
      font-size: 4.5rem;
    }
  .intro-right
  {
    width: 100%;
 
  }
    .intro-right .wrapper  {
      transform: scaleY(0.6);
      width: 100% !important;
      margin-top:-10% ;
      margin-bottom: -10rem;
      
    }
canvas
{
 
  width: 100% !important;
  overflow: hidden;
  
}

    .main-slogan{
      
      transform: scale(0.8);
      font-size: 2rem;
      max-width: 100%;
      align-items: start;

    }
    .text-content{
      margin: 0;
      top: 0%;
      
    }
    .slogan{
      max-width: 100%;
      margin: 0;
    }
    .slogan2{
      top: -3rem;
      font-size: 1rem;
      left:5%
    }
    
  }

  


  /* Mouse */

  .scrolldown {
    --color: white;
    --sizeX: 25px;
    --sizeY: 40px;
    position: relative;
    width: var(--sizeX);
    height: var(--sizeY);
    margin-left: var(sizeX / 2);
    border: calc(var(--sizeX) / 10) solid var(--color);
    border-radius: 50px;
    box-sizing: border-box;
    margin-bottom: 16px;
    cursor: pointer;
  }
  
  .scrolldown::before {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: var(--color);
    border-radius: 100%;
    animation: scrolldown-anim 2s infinite;
    box-sizing: border-box;
    box-shadow: 0px -5px 3px 1px #2a547066;
  }
  
  @keyframes scrolldown-anim {
    0% {
      opacity: 0;
      height: 6px;
    }
  
    40% {
      opacity: 1;
      height: 10px;
    }
  
    80% {
      transform: translate(0, 20px);
      height: 10px;
      opacity: 0;
    }
  
    100% {
      height: 3px;
      opacity: 0;
    }
  }
  
  .chevrons {
    padding: 6px 0 0 0;
    margin-left: -3px;
    margin-top: 48px;
    width: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .chevrondown {
    margin-top: -6px;
    position: relative;
    border: solid var(--color);
    border-width: 0 3px 3px 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
  }
  
  .chevrondown:nth-child(odd) {
    animation: pulse54012 500ms ease infinite alternate;
  }
  
  .chevrondown:nth-child(even) {
    animation: pulse54012 500ms ease infinite alternate 250ms;
  }
  
  @keyframes pulse54012 {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 0.5;
    }
  }