.Intro {
    display: flex;
    height: 77vh;
    margin-top: 6rem;
    margin-left: 2rem;
  }
  
  /* left side styling */
  .intro-left {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
  }
  .intro-name {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  .intro-name > :nth-child(1) {
    color: rgb(237, 236, 236);
    font-weight: bold;
    font-size: 3rem;
  }
  .intro-name > :nth-child(2) {
    color: var(--orange);
    font-weight: bold;
    font-size: 3rem;
  }
  .intro-name > :nth-child(3) {
    font-weight: 300;
    font-size: 20px;
    color: #121111;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 2.5rem
  }
  .intro-name > :nth-child(3) bold{
    font-weight: 500;

  }
  .intro-button {
   
    height: 2.6rem;
    width: 8rem;
    
  }
  .intro-icons {
   
    display: flex;
    gap: 1.5rem;
    
   
  }
  .intro-icons a .social {
    
    transition: 0.5s;
    height: 40px;
    width: 40px;
    
  }
  
   .social:hover {
    cursor: pointer;
    transform: translateY(-15px);
  }
  /* right side styling */
  .intro-right {
    flex: 1;
    position: relative;
  }
  
  /* blur */
  .blur {
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #e6c4fc;
    filter: blur(200px);
    z-index: -9;
    top: -12%;
    left: 56%;
    filter: blur(70px);
  }

  
  .intro-right .wrapper{
    transform: scale(0.6) translateX(400px) translateY(-500px);
    position: absolute;
    margin-left: -80%;
    z-index: 55;
  }

  .hire{
    margin-top: 3%;
    display: flex;
    align-items: center;
    gap: 10%;
  
  }


  
  @media screen and (max-width: 480px) {
    .Intro {
      flex-direction: column;
      gap: 7rem;
      height: 64rem;
    }
  
    .i-right {
      transform: scale(0.8);
      left: -3rem;
    }
    .i-right .blur {
      display: none;
    }
    .floating-div:nth-of-type(1){
      /* display: none; */
      top: -7rem !important;;
    }
  }

  .intro-name .about{
    max-width: 45%;
    margin-bottom: 5%;
  }